.tariff_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;;
  height: 650px;
  padding: 40px 0;
}

.container {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border: 5px;
  margin-top: 20px;
 padding: 25px 40px;
 border-radius: 5px;
}

.dot {
  color: #BB2BBE;
}

.tariff {
  text-align: center;
  font-size: 44px;
}

.tariff_title{
  font-size: 38px;
}


.left_panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 justify-content: flex-start; 
 gap: .5rem;
}


.right_panel {
  display: flex;
  flex-direction: column;
 justify-content: center; 
 gap: .5rem;

}

.service_option{
  background-color: #F5F7FA;
  display: flex;
  width: 300px;
  padding: 0px 0px 5px 14px;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
}

.order_btn {
  height: 55px;
 color: white;
 font-size: 18px;
 font-weight: 600;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #BB2BBE;
  background: #BB2BBE;
  cursor: pointer;
}

.order_btn:hover {
  background-color: #2076F5;
}

.service_list {
  align-items: self-start;
  font-size: 16px;
  display: grid; 
  grid-template-columns: auto auto;/* Использует flexbox для управления элементами списка */
  flex-wrap: wrap; /* Позволяет элементам оборачиваться на новую строку */
  padding: 20px 40px;
  border-radius: 10px;
}

.service_item {
 width: 360px;
 margin-top: 10px;
}


.active_service {
  background-color: #FFBD2A; /* Или другой оттенок оранжевого, который вам нравится */
  /* Другие стили для активного сервиса */
}


.service_option strong {
  font-size: 22px;
}

.option_description {
  font-size: 12px;
}