.countrySelect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 50px 0;
    border-bottom: 2px rgb(219, 219, 219) solid;
}

.countryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 200px;
    border-radius: 10px; /* Скругление углов */
    transition: transform 0.2s ease-in-out; /* Анимация при наведении */
    overflow: hidden;
    gap: 5px;
    padding: 5px 20px 0 20px;
}

.countryCard:hover {
    transform: translateY(-5px);
}

.countryCard span {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}