.footer {
    color: #ffffff;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, #742f8b, #000);
  }

  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 55px;
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer_section {
    display: flex;
    flex-direction: column;
  }
  
  .footer_section h4 {
    margin: 0 0 10px 0;
    color: var(--gold);
  }
  
  .footer_section p,
  .footer_section ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .footer_section ul li {
    margin-bottom: 5px;
  }
  
  .footer-copy {
    text-align: center;
    margin-top: 20px;
  }
  

  .footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    justify-content: center; /* Центрирование по вертикали (если нужно) */
    max-width: 1200px;
    margin: 0px auto; /* Центрирование блока в контейнере */
    padding: 20px 0; /* Добавляем отступы для вертикального выравнивания */
    font-size: 12px;
  }

  @media (max-width: 820px) {

    .logo {
      display: none;
    }

    .footer_section p {
      display: none;
    }

    .footer_wrapper {
      flex-direction: column; /* Меняем направление на вертикальное */
      align-items: center; /* Центрируем элементы */
      padding: 15px; /* Уменьшаем паддинг */
      max-width: 100%; /* Занимаем всю ширину экрана */
    }
  
    .footer_section {
      margin-bottom: 20px; /* Добавляем отступы между секциями */
      width: 100%; /* Ширина секций будет 100% */
      align-items: center; /* Центрируем содержимое */
    }
  
    .footer_section ul li {
      text-align: center; /* Центрируем текст в списке */
      margin-bottom: 10px; /* Увеличиваем отступы между элементами списка */
    }
  
    .footer_bottom {
      font-size: 10px; /* Уменьшаем размер шрифта для мобильных */
      padding: 10px 0; /* Уменьшаем отступы */
    }
  
    .footer-copy {
      font-size: 10px; /* Уменьшаем размер текста копирайта */
    }
  }