.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/Four.png');
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      background-size: cover; /* Растягивает фон на всю площадь .banner */
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      color: white;
      
  }

  .banner_container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  
  .banner_title {
   width: 80%;
  }


  
  .order_btn {
      border-radius: 25px;
      padding: 15px;
      background: #BB2BBE;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 30px;
      width: 180px;
      font-size: 16px;
  }
  
  .banner_title_text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .title_text {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--gold);
  }
  
  .title_text_desc {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    width: 90%;
  }

  .breadcrumbs_wrapper {
    width: 100%;
    background-color: #ffffff;
  }
  
  .breadcrumbs {
    width: 1200px;
    font-size: 12px;
    display: flex;
    gap: .5rem;
    margin: 0 auto;
    padding: 10px;
  }

.breadcrumbs a {
  text-decoration: none;
  color: var(--violet);
  font-weight: 600;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    color: #585858;
}

  .section_text_content {
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0;
  }


  .section_text_content_title {
    width: 80%;
    font-size: 33px;
    font-weight: 600;
    color: var(--violet);
    padding: 10px 0;
}

  .section_text_content_title span {
    font-size: 18px;
    font-weight: 400;
  }

  .description {
   padding: 10px 0;
   width: 95%;
   font-size: 18px;
   color: var(--text-color);
   
  }

    .description strong {
   color: var(--violet);
   
  }


  .section_text_content h2 {
    margin-top: 10px;
    font-size: 30px;
   }


   .title_two {
    font-size: 28px;
    margin: 15px;
    text-align: center;
    color: var(--text-color);
   }

  .special_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    padding: 15px 0;
  }
 


  @media   (max-width: 820px) {
    .banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/Four.png');
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-size: cover; /* Растягивает фон на всю площадь .banner */
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        color: white;
        padding: 27px 5px;
    }
  
    .banner_container {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  
    }

    .banner_title {
     width: 100%;
     text-align: center;
     padding: 20px 5px;
    }

    
  
    .banner_title p {
      width: 100%;
      margin-top: 10px;
      font-size: 18px;
    }

    .breadcrumbs_wrapper {
      width: 100%;
      background-color: #ffffff;
    }
  
    .breadcrumbs {
      font-size: 12px;
      display: flex;
      gap: .5rem;
      margin: 10px;
  }
    
    .banner_title_text {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    
    .title_text {
      margin-top: 40px;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    }
    
    .title_text_desc {
      font-size: 19px;
      line-height: 30px;
      font-weight: 300;
    }
  
    .section_two_top {
      width: 400px;
      padding: 20px 0;

    }
 
  .section_text_content {
      width: 100%;
      padding: 10px 5px;
    }

    .section_text_content_title {
      width: 100%;
      font-size: 27px;
      font-weight: 600;
      padding: 10px;
  }
  
    .description {
      width: 100%;
      font-size: 16px;
      padding: 10px;
    }
  
    .special_wrapper {
      grid-template-columns: auto;
      gap: 1rem;
      padding: 0 10px;
    }
  
  }