.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    color: white;
    text-decoration: none;
    font-size: 28px;
    left: 20px;
  }

  .items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    color: black;

  }

  .item {
    white-space: nowrap;
  }