.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%; /* Растягиваем на всю ширину */
  max-width: 1200px; /* Ограничиваем ширину */
  margin: 0 auto; /* Центрируем по горизонтали */
  position: fixed;
  left: 50%; /* Выравниваем по центру */
  transform: translateX(-50%); /* Чтобы центрировать */
  transition: ease-in 0.1s;
  z-index: 1000;
}

.chatIcon {
  display: none;
}

  .scrolled {
    background: linear-gradient(90deg, #742f8b, #000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    margin: auto auto;
    padding: 0 60px;
    transition: ease-out .1s;
    z-index: 1000;
    max-width: 100%;
    top: 0;
  }


  .scrolled_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 900px;
  }

  .logo {
    display: none;
  margin-top: 5px;
  transition: .2s ease-in-out;
  }


  .items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    position: relative;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 900px;
  }

  .adress {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
    gap: .5rem;
    position: relative;
    font-weight: 300;
  }
  
  .adress_icon {
    color: var(--gold);
    font-size: 18px;

  }

  .adress::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: -5px;
    width: 0%;
    height: 1px;
    background-color: #ffbd2a;
    transition: width 0.3s ease; /* Плавное увеличение ширины полосы */
    transform: translateX(-50%); /* Сместить центр полосы */
  }

  .adress:hover::after {
    width: 100%; /* Полоса увеличивается до полной ширины при наведении */
    left: 50%; 
  }


  .tel {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: var(--light-blue);
    border-radius: 15px;
    font-size: 12px;
    transition: .3s;
    height: 40px;
    width: 40px;
  }


  .nav_item {
    white-space: nowrap;
    gap: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

  }

  .nav_item::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: 0px; /* Расположить полосу немного ниже текста */
    width: 0%;
    height: 1px;
    background-color: #ffbd2a;
    transition: width 0.3s ease; /* Плавное увеличение ширины полосы */
    transform: translateX(-50%); /* Сместить центр полосы */
  }
  

 .logo_mobile{
  display: none;
 }

 .button_click{
  width: 20px;
  display: flex;
  justify-content: flex-end;
 }

  .submenu_arrow {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 100;
    transition: transform 0.4s ease;
  }

  .submenu_arrow:hover {
    color: #FFBD2A;
  }

  .rotate_up {
    transform: rotate(180deg);
    color: #FFBD2A;
  }

  .rotate_right{
    transform: rotate(-90deg);
    color: #FFBD2A;
  }
  
  /* Стили для элемента с подменю */
  .nav_item_with_submenu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav_item_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

  }
  
  /* Стили для выпадающего меню */
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 7px;
    padding: 15px 5px; /* Уменьшаем боковые отступы, только сверху и снизу */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    list-style-type: none;
    border-radius: 8px; /* Увеличиваем радиус закругления */
    background-color: var(--violet);
    animation: fadeIn 0.3s ease;
    width: 360px;
}



.dropdownToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
}

.dropdownToggle :global(a) {
  /* убираем подчёркивание у Link внутри кнопки */
  text-decoration: none;
  color: inherit;
}



.dropdown.show {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Стили для элементов выпадающего меню */
.dropdown li {
    padding: 10px 20px;
    font-weight: 500;
    color: rgb(245, 244, 244);
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--gold); /* Легкий фон при наведении */
  border-radius: 8px;
}

.nested_dropdown {
  position: absolute;
  top: -32%; /* Позиционируем под основным меню */
  left: 100%; /* Выравниваем по левому краю пункта "Европа" */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 10px;
  min-width: 300px; /* Задаем минимальную ширину для подменю */
  z-index: 10;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
  background-color: var(--violet);
  animation: fadeIn 0.3s ease;
  border-radius: 8px; 
}

/* Стиль для каждого пункта страны с флагом */
.nested_dropdown_item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #fff;
}

.nested_dropdown_item img {
  margin-right: 8px;
  vertical-align: middle;
}

.nested_dropdown_item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--gold); /* Легкий фон при наведении */
  border-radius: 8px;
}

/* Добавляем разделительную линию между элементами */
.dropdown_item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
}

/* Эффекты при наведении */
.dropdown_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--gold); /* Легкий фон при наведении */
}



  


  .mobile_menu_icon {
    display: none; /* Показываем бургер-меню на мобильных устройствах */
  }
  
  .bar {
    width: 45px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Для плавного изменения при нажатии */
  }
  
  /* Стиль для первой полоски при открытом меню */
  .bar1 {
    transform: translateY(8px) rotate(45deg); /* Поворот первой полоски */
    background-color: #fff;
  }
  
  /* Скрытие второй полоски при открытом меню */
  .bar2 {
    opacity: 0;
  }
  
  /* Стиль для третьей полоски при открытом меню */
  .bar3 {
    transform: translateY(-8px) rotate(-45deg); /* Поворот третьей полоски */
    background-color: #fff;
  }
  
  /* Дополнительный стиль для всех полосок, когда меню открыто */
  .openedBar {
    background-color: #fff;
  }



  @media (max-width: 820px) {

    .navbar {
      background: linear-gradient(90deg, #742f8b, #000) !important;
      display: flex;
      justify-content:space-between;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 90px;
      margin: 0 auto;
      padding: 10px;
      z-index: 1100;
    }
  

    .scrolled_items {
      display: none;
      justify-content: center;
      width: 100%;
    }


    .chatIcon {
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      /* Добавьте необходимые стили (например, размер, отступы) */
      color: white;
      font-size: 28px;
      width: 35px;
    }

    .chatPanel {
      position: absolute;
      top: 89px; /* или подходящее значение для вашего дизайна */
      left: 0;
      
      gap: 1rem;
      display: flex;
      flex-direction: column;
      right: 0;
      background: linear-gradient(90deg, #742f8b, #000);
      padding: 20px ;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      animation: slideDown 0.3s ease-out;
    }
    
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-10%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes slideDowntwo {
      from {
        opacity: 0;
        transform: translateY(-2%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    
    .chatPanel a {
      list-style: none;
      display: flex;
      gap: .5rem;
      justify-content: center;
      align-items: center;
      padding: 0;
      color: white;
      margin: 0;
    }
    


    .con_icon {
      font-size: 20px;
      margin-right: 10px;
    }

    .logo{
      display: block;
     }

     .logo_mobile{
      display: none;
     }

     .button_click{
      width: 250px;
      display: flex;
      justify-content: flex-end;
     }

    .mobile_menu_icon {
      display: block; /* Показываем бургер-меню на мобильных устройствах */
      background: transparent;
      border: none;
    }

    .adress {
      display: none;
    }
  
    .items {
      display: none;
    }

    .showMobileMenu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      padding-bottom: 50px;
      top: 89px;  /* начинается сразу после шапки */
      left: 0;
      width: 100%;
      height: calc(100vh - 89px);  /* занимает оставшуюся часть экрана */
      background: linear-gradient(90deg, #742f8b, #000);
      padding: 15px;
      overflow-y: auto;  /* прокрутка содержимого меню */
      z-index: 1000;  /* ниже, чем шапка */
      -webkit-overflow-scrolling:touch;
      animation: slideDowntwo 0.3s ease-in;
    }
  
  .showMobileMenu.open {
      max-height: 800px;
      opacity: 1;
  }
  
  .nav_item {
      white-space: nowrap;
      position: relative;
      flex-direction: column;
      color:#fff;
      font-size: 16px; /* Увеличиваем размер текста для мобильной версии */
      font-weight: 400;
      padding: 7px 0; /* Добавляем больше отступов для лучшей кликабельности */
      cursor: pointer;
      width: 100%; /* Элементы занимают всю ширину экрана */
      border-bottom: 1px solid rgba(253, 253, 253, 0.7); /* Добавляем разделительную линию */
  }
  
  
  .nav_item:last-child {
      border-bottom: none; /* Убираем разделительную линию у последнего элемента */
  }
  
  .submenu_arrow {
    font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: auto; /* Выравниваем стрелку вправо */
      transition: transform 0.4s ease;
      color: white; /* Убедимся, что стрелка контрастна с фоном */
  }
  
  .rotate_up {
      transform: rotate(180deg); /* Разворачиваем стрелку вверх при открытии */
  }
  
  .nav_item_with_submenu {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Стрелка и текст на разных концах */
      width: 100%;
      padding-right: 20px; /* Добавляем отступ справа для стрелки */
  }

  
  
  /* Стили для выпадающего подменю */
  .dropdown {
      display: none;
      flex-direction: column;
      position: static;
      background-color: transparent;
      transition: max-height 0.3s ease, opacity 0.3s ease;
      box-shadow: none;
      animation: fadeIn 0.3s ease;
      width: 360px;
      
  }

  .dropdown li {
    padding: 5px;
    font-weight: 500;
    color: rgb(245, 244, 244);
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
  
  .dropdown.show {
      display: flex; /* Показываем подменю при необходимости */
  }
  
  .dropdown_item {
      padding: 10px 5px;
      font-weight: 500;
      color: #fff;
      transition: color 0.3s ease, font-weight 0.3s ease;
  }
  

  .nested_dropdown {
   position:static;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: grid;
    margin-left: 35px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr); /* Три колонки */
    gap: 10px;
    min-width: 390px; /* Задаем минимальную ширину для подменю */
    z-index: 10;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
    background-color: var(--violet);
    animation: fadeIn 0.3s ease;
    border-radius: 8px; 
  }
  
  /* Стиль для каждого пункта страны с флагом */
  .nested_dropdown_item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
  }
  
  .nested_dropdown_item img {
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .nested_dropdown_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--gold); /* Легкий фон при наведении */
    border-radius: 8px;
  }
   

    .nav_item::after {
      content: '';
      position: absolute;
      left: 50%; 
      bottom: 0px; /* Расположить полосу немного ниже текста */
      width: 0%;
      height: 1px;
      background-color: #ffbd2a;
      transition: width 0.3s ease; /* Плавное увеличение ширины полосы */
      transform: translateX(-50%); /* Сместить центр полосы */
    }
    


    .contact_button_container {
      display: flex;
      align-items: center;
    }
    
    .contact_button {
      background-color: transparent;
      color: white;
      padding: 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }
 
    

    .phone {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
 
    .social_icons {
      display: flex;
      gap: 15px;
    }
    
    .icon {
      font-size: 25px;
      color: white;
    }
    

    .contact_burger {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }