.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  z-index: 1;
  width: 100%;
  /* background: linear-gradient(90deg,rgba(116, 47, 139, 0.0),rgba(116, 47, 139, 0.3),rgba(116, 47, 139, 0.5), rgba(116, 47, 139, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)); */
}

.header_content {
  display: flex;
  border: .5px solid rgba(251, 192, 45, 0.1);
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  color: white;
  gap: 2rem;
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.slogan {
  font-size: 16px;
  margin-left: 20px;
}

.slogan span {
  color: rgb(251, 192, 45);
  font-weight: bold;
}

.Header_items {
  display: flex;
  gap: 4rem;
}

.Header_item {
  color: var(--gold);
  font-weight: 600;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone {
  display: flex;
  align-items: center;
  gap: .3rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.phone:hover {
  color: #fbc02d;
}

.social_icons {
  display: flex;
  gap: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}

.icon:hover {
  color: #fbc02d;
}

/* Мобильная версия */
@media (max-width: 820px) { 


  .header {
    justify-content: space-between;
    position: static;
    background: linear-gradient(90deg, #742f8b, #000);
    display: none;
  }

  .header_content {
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }

  /* Кнопка для мобильной версии */
  .mobile_button {
    display: block;
  }

  /* По умолчанию скрываем контакты на мобильной версии */
  .contact {
    display: none;
  }

  /* Показываем контакты при нажатии на кнопку */
  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Скрываем кнопку для десктопной версии */
@media (min-width: 821px) {
  .mobile_button {
    display: none;
  }

  /* Показываем контакты по умолчанию на больших экранах */
  .contact {
    display: flex;
  }
}