.container {
    background-color: #F8F8F8;
    padding: 40px;
}

.container_title {
    text-align: center;
    font-size: 33px;
    
}

.servicesGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .serviceCard_header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }

  .serviceImage {
    border-radius: 8px 8px 0 0; /* Закругляем углы изображения */
    object-fit: cover; /* Покрывает блок изображением */
    border-radius: 5px;
  }
  
  .serviceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    height: 300px;
    width: 350px;
  }

  .serviceCard:hover {
    transform: translateY(-5px); /* Легкое движение вверх при наведении */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Более сильная тень */
}

  .Cardtitle {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: var(--orange);
    font-weight: bold;
    color: var(--text-color);
    margin-top: 7px;
    text-align: center;
  }


  .serviceCard:hover .serviceIcon {
      transform: scale(1.1); /* Легкое увеличение иконки при наведении */
  }

  .serviceCard p {
    width: 100%;
    height: 1005;
    font-weight: 300;
    text-align: center;
    padding: 5px;
  }

  .serviceCard_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
    position: relative;
  }
  

  
  .learnMoreButton {
    background-color: #ffffff;
    color: var(--text-color);
    font-weight: 600;
    border: 2px solid var(--gold);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    width: 90%;
    align-self: center;
    margin-bottom: 10px;
  }
  
  .learnMoreButton:hover {
    background-color: var(--gold);
    color: rgb(47, 47, 47);
    border: 2px solid var(--gold);
  }


  @media   (max-width: 820px) {
  
    .container {
      background-color: #f8f6f8;
      padding: 20px 0;
  }
  
  .container_title {
      text-align: center;
      font-size: 28px;
  }

  
  .servicesGrid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
    }
    
    .serviceCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 0px;
      text-align: center;
      transition: transform 0.3s ease;
      height: 280px;
      width: 350px;
    }


    .Cardtitle {
      font-size: 18px;
      font-weight: bold;
      color: var(--text-color);
    }
  
    .title{
      font-size: 20px;
      text-decoration: underline;
      text-decoration-color: var(--orange);
      text-underline-offset: 0.5em;
      text-decoration-color: var(--primary-btn);
      
    }
  
    .serviceCard p {
      width: 100%;
      height: 100px;
      font-weight: 300;
      margin-top: 20px;
    }
  
    .serviceCard_title {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
    }
    
  
    
    .learnMoreButton {
      background-color: #ffffff;
      color: var(--text-color);
      font-weight: 600;
      border: 2px solid var(--primary-btn);
      text-decoration: none;
      padding: 10px 15px;
      display: inline-block;
      margin-top: 15px;
      border-radius: 5px;
      transition: background-color 0.3s;
      text-align: center;
    }
    
 
  }