.container {
  position: relative;
  background-color: #f8f6f8;
  padding: 40px;
  overflow: hidden;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, #f0c040 0%, #ff8c00 100%);
  opacity: 0.3;
  border-radius: 50%;
  z-index: 0; /* Позади основного содержимого */
}

.container::before {
  top: -50px;
  left: -50px;
  animation: float 10s infinite alternate;
}

.container::after {
  bottom: -50px;
  right: -50px;
  animation: float 12s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

.container_title {
  text-align: center;
  font-size: 36px;
  position: relative;
  z-index: 1; /* Над фоном */
  margin: 30px;
  color: var(--text-color);
}

.cards {
  position: relative;
  z-index: 1; /* Над фоном */
  padding: 20px;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  gap: .8rem;
}
  
  .card {
    width: 280px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card_icon {
    color: var(--gold);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--violet);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card p {
    color: var(--text-color);
    font-size: 16px;
  }


  @media (max-width: 768px) {
    .container {
      background-color: #f8f6f8;
      padding: 20px 0;
    }
  
    .container_title{
      text-align: center;
      font-size: 26px;
    }
    
    .cards {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto ;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .card {
      padding: 10px;
      height: 100%;
      width: 100%;
      margin: 0;
      margin-top: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    
    .card_icon {
      color: var(--orange);
      width: 32px;
      height: 32px;
    }
    

    
    .card p {
      font-size: 16px;
      white-space: pre-wrap;
      width: 95%;
    }
  }