.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/Banner_Visa.jpg');
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      background-size: cover; /* Растягивает фон на всю площадь .banner */
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      color: white;
      
  }

  .banner_container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  
  .banner_title {
   width: 80%;
  }

  .banner_title p {
    width: 90%;
    font-size: 22px;
  }
  
  .order_btn {
      border-radius: 25px;
      padding: 15px;
      background: #BB2BBE;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 30px;
      width: 180px;
      font-size: 16px;
  }
  
  .banner_title_text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .section_text_content {
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0;
  }


  .section_text_content_title {
    width: 100%;
    font-size: 33px;
    font-weight: 600;
    color: var(--text-color);
    padding: 10px 0;
}

  .section_text_content_title span {
    font-size: 18px;
    font-weight: 400;
  }

  .description {
   padding: 10px 0;
   width: 75%;
   font-size: 18px;
   color: var(--text-color);
   
  }

  .section_text_content h2 {
    margin-top: 10px;
    font-size: 30px;
   }

  
  .title_text {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--gold);
  }
  
  .title_text_desc {
    font-size: 19px;
    line-height: 30px;
    font-weight: 300;
  }

  .breadcrumbs_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .breadcrumbs {
    font-size: 12px;
    display: flex;
    gap: .5rem;
    margin-top: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--violet);
  font-weight: 600;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    color: #585858;
}

  .section_two_top {
    padding: 20px 0;
  }
  
  .section_two {
    background-color:#ffffff ;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .selectCountryTitle{
    font-size: 38px;
    color: var(--text-color);
    margin-bottom: 15px;
    
  }

  .main_btn {
    border-radius: 5px;
    background: var(--violet);
    border: none;
    width: 172px;
    height:   55px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .2s;
    margin-top: 30px;
  }
  
  .main_btn:hover {
    background-color: var(--gold);
    color: rgb(15, 15, 15);
  }

  .CountryVisaSelect {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
  }

  .counties_wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .counties_wrapper h2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-color);
  }


  @media   (max-width: 820px) {
    .banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/Banner_Visa.jpg');
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-size: cover; /* Растягивает фон на всю площадь .banner */
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        color: white;
        padding: 27px 5px;
    }
  
    .banner_container {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  
    }

    .banner_title {
     width: 100%;
     margin-top: 0px;
     text-align: center;
     padding: 20px 5px;
    }

    
  
    .banner_title p {
      width: 100%;
      margin-top: 10px;
      font-size: 19px;
    }

    .breadcrumbs_wrapper {
      width: 100%;
      background-color: #ffffff;
    }
  
    .breadcrumbs {
      font-size: 12px;
      display: flex;
      gap: .5rem;
      margin: 10px;
  }
    
    .banner_title_text {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    
    .title_text {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    }
    
    .title_text_desc {
      font-size: 19px;
      line-height: 30px;
      font-weight: 300;
    }
  
    .section_two_top {
      width: 100%;
      padding: 10px 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .section_two {
      background-color:#ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    
    }
  
    .selectCountryTitle{
      font-size: 28px;
      text-align: center;
      width: 100%;
    }

    .section_text_content {
      width: 100%;
      padding: 10px 5px;
    }

    .section_text_content_title {
      width: 100%;
      font-size: 27px;
      font-weight: 600;
      padding: 10px;
  }
  
    .description {
      width: 100%;
      font-size: 16px;
      padding: 10px;
    }

    .CountryVisaSelect {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 98%;
      padding: 20px 0;
    }

    .counties_wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      align-items: flex-start;
      justify-content: center;
    }
  
    .counties_wrapper h2{
      text-align: center;
      color: var(--text-color);
       padding: 5px 0px;
    }
  
  }