    .banner {
     padding-top: 200px;
     background: linear-gradient(90deg, #742f8b, #000);
    }


    .mapIframe {
      width: 50%;
      height: 450px;
      z-index: 1; /* Карта будет под контентом */
      border: none; /* Убирает границу вокруг карты */
    }
    

  
  @media   (max-width: 820px) { 

 

  }