    .banner {
     padding-top: 200px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/contact.jpg');
    }


    .mapIframe {
      width: 50%;
      height: 450px;
      z-index: 1; /* Карта будет под контентом */
      border: none; /* Убирает границу вокруг карты */
    }
    

  
  @media   (max-width: 820px) { 

 

  }