.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/japan.jpg');
      width: 100%;
      height: 630px;
      margin: 0 auto;
      background-size: cover; /* Растягивает фон на всю площадь .banner */
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      color: white;
      
  }

  .banner_container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  
  .banner_title {
   width: 50%;
  }

  .banner_title p {
    width: 100%;
    margin-top: 30px;
    font-size: 22px;
  }
  
  .order_btn {
      border-radius: 25px;
      padding: 15px;
      background: #BB2BBE;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 30px;
      width: 180px;
      font-size: 16px;
  }
  
  .banner_title_text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .title_text {
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  }
  
  .title_text_desc {
    font-size: 19px;
    line-height: 30px;
    font-weight: 300;
    position: relative
  }

  .section_two_top {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .section_two {
    background-color:#ffffff ;
  }

  .selectCountryTitle{
    font-size: 38px;
    margin-left: 40px;
  }

  .countryList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 20px;
  }
  
  .countryItem {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .countryItem:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transform: scale(1.05);
    background-color: white;
  }