@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet');

:root {
  --max-width: 1100px;
  --orange: #FFBD2A;
  /* --gold:#d1a41e; */
  --gold:#FFD700;
  --light-gold:#fcda1b;
  --primary-btn: #FFA500;
  --title-text: 40px;
  /* --dark-blue : #003366; */
  --dark-blue :#002366;
  --text-color : #333333;
  --text-title : #122c54;
  --light-blue: #007bff;
  --btn-text : 'PT Sans Narrow', sans-serif;
  --violet: #742f8b ;
  --violet-2:#7C3AED;
  --white:#fff;
  --ink:#1f2937;
  --light-violet: #9c4db8 ;
  --purple:#bc3781;
  --light-red: #ec586e;
  --new-orange:#ff8a5b;
  --light-orange:#ffc155;
  --new-gold:#f9f871;
    --accent-1:#7C3AED;   /* purple 600 */
  --accent-2:#A78BFA;   /* purple 300 */
  --ink:#1F2937;        /* gray-800 */
  --sub:#4B5563;        /* gray-600 */
  --muted:#6B7280;      /* gray-500 */
  --bg: #ffffff;
  --purple:#7C3AED;
  --purple2:#A78BFA;
  --ink:#111827;
  --sub:#4B5563;
  --glass: rgba(255,255,255,.08);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Вместо hidden */
}


body {
  background-color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}


.violet {
  font-weight: 600;
  color: var(--violet);
}


.main_btn {
  border-radius: 5px;
  padding: 15px 20px;
  background: var(--violet);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: .2s;
  margin-top: 30px;
}

.main_btn:hover {
  background-color: var(--gold);
  color: rgb(15, 15, 15);
}