.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/Banner.jpg');
    width: 100%;
    height: 630px;
    margin: 0 auto;
    background-size: cover; /* Растягивает фон на всю площадь .banner */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    
}

.banner_title {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.order_btn {
    border-radius: 25px;
    padding: 15px;
    background: #BB2BBE;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    width: 180px;
    font-size: 16px;
}

.banner_title_text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.title_text {
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
}

.title_text_desc {
  width: 702px;
  flex-shrink: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.section_two, .section_four, .section_Six {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.section_two_title, .section_four_title, .section_Six_title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
}

.section_two_h2, .section_four_h2, .section_Six_h2 {
  font-size: 36px;
  white-space: nowrap
}

.section_two_p , .section_four_p, .section_Six_p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: light;
  margin-top: 20px;
}


.section_Six_btn {
  border-radius: 25px;
  padding: 5px;
  width: 150px;
  height: 50px;
  background: #BB2BBE;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}