
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.container {
    background-color: #f8f6f8;
    padding: 40px;
    
  }

  .container_content {
    margin: 0 auto;
    max-width: 1200px;
  }

  .container_title{
    text-align: center;
    font-size: 33px;
  }

  .country_link{
    position: relative;
  }

  .country_link::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: -2px; /* Расположить полосу немного ниже текста */
    width: 0%;
    height: 1px;
    background-color: #ffbd2a;
    transition: width 0.3s ease; /* Плавное увеличение ширины полосы */
    transform: translateX(-50%); /* Сместить центр полосы */
  }

  .country_link:hover::after {
    width: 100%; /* Полоса увеличивается до полной ширины при наведении */
    left: 50%; 
  }

  .country_link_two{
    position: relative;
    width: 30%;
  }

  .country_link_two::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: -2px; /* Расположить полосу немного ниже текста */
    width: 0%;
    height: 1px;
    background-color: #ffbd2a;
    transition: width 0.3s ease; /* Плавное увеличение ширины полосы */
    transform: translateX(-50%); /* Сместить центр полосы */
  }

  .country_link_two:hover::after {
    width: 100%; /* Полоса увеличивается до полной ширины при наведении */
    left: 50%; 
  }
  
  .cards {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .card {
    width: 370px;
    height: 450px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative; /* Для позиционирования содержимого */
    background-size: cover; /* Покрыть всю область карточки */
    background-position: center; /* Центрировать изображение */
    color: white;
    transition: 0.3s ease, box-shadow 0.3s ease;
    background-repeat: no-repeat;
    overflow: hidden; /* Скрыть переполнение для эффекта приближения */
}

/* Эффект наведения */
.card:hover {
    transform: scale(1); /* Увеличиваем размер карточки */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличиваем тень */
}

/* Вложенный элемент для изображения */
.card::before {
    content: '';
    position: absolute; /* Позиционируем изображение поверх карточки */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Наследуем фоновое изображение карточки */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Помещаем изображение за содержимым карточки */
    transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

/* Эффект наведения для изображения */
.card:hover::before {
    transform: scale(1.1); /* Увеличиваем фоновое изображение */
}


  .cardContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный слой для лучшей читаемости текста */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание содержимого в нижней части карточки */
    padding: 15px; /* Отступы внутри содержимого */
  }


  .cardBottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }



  .button{
    border: 2px solid var(--gold);
    background-color: transparent;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
}

.button:hover {
  background-color: var(--light-gold);
  color: #000000;
}
  
@media (max-width: 768px) {
  .container {
    background-color: #f8f6f8;
    padding: 20px 0;
    
  }

  .container_content {
    margin: 0 auto;
    max-width: 100%;
  }

  .container_title{
    text-align: center;
    font-size: 28px;
  }
  
  .cards {
    margin: 0;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Можно использовать flex-start, чтобы начать с начала */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    white-space: nowrap; /* Предотвращаем перенос элементов на новую строку */
  }

  .card {
    width: 300px;
    height: 450px;
    padding: 0;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative; /* Для позиционирования содержимого */
    background-size: cover; /* Покрыть всю область карточки */
    background-position: center; /* Центрировать изображение */
    color: white; 
    transition: 0.3s ease, box-shadow 0.3s ease;
    background-repeat: no-repeat;
    flex: 0 0 auto; 
  }


  .cardContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный слой для лучшей читаемости текста */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание содержимого в нижней части карточки */
    padding: 15px; /* Отступы внутри содержимого */
  }


  .cardBottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .button{
    background-color: var(--gold);
    color: rgb(37, 37, 37);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
}


}