.formContainer {
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .formContainer p{
    font-size: 14px;
    color: #727272;
    margin-top: 10px;
  }

  .formContainer p span {
    color: red;
  }

  .inputField {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .selectField {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .submitButton {
    height: 55px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
     flex-shrink: 0;
     border-radius: 5px;
     border: 1px solid #BB2BBE;
     background: #BB2BBE;
     cursor: pointer;
     margin-top: 10px;
  }
  
  .submitButton:hover {
    background-color: #2076F5;
  }
  
  .label {
    display: block;
    margin-top: 10px;
    color: black;
  }

  .label  span {
    color: red;
  }

  .text_input textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-style: none;
  }

  .input_container {
    display: flex;
    gap: .8rem;
    margin-top: 10px;
  }

    .name_input input, .phone_input input {
        width: 300px;
    }
  


  .text_input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }


  @media (max-width: 768px) {

    .formContainer {
      background-color: white;
      padding: 10px 10px;
      width: 98%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .inputField {
      margin-top: 10px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      font-size: 16px;
    }
  
    .selectField {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      font-size: 16px;
    }

      .form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-style: none;
  }

  .input_container {
    display: flex;
    gap: .8rem;
    margin-top: 10px;
  }

    .name_input input, .phone_input input {
        width: 300px;
    }
  
  .form textarea {
    resize: none; 
    height: 150px;
  }

  .text_input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

    
  }